---
title: "The Website Weekly Newsletter"
preheader: "👀 Lorem, ipsum, and much dolor in this week's edition."
bodyClass: bg-slate-50
---

<x-main>
  <div class="sm-px-4 m-auto" style="background-color: #f8fafc; width:600px;">
    <table align="center" cellpadding="0" cellspacing="0">
      <tr>
        <td>
          <table style="width: 100%;" cellpadding="0" cellspacing="0">
            <tr>
              <td class="pt-4 pb-4 text-center" >
                <a href="#" class="no-underline text-gray-500">View in browser</a>
              </td>
            </tr>
          </table>
          <table style="width: 100%;" cellpadding="0" cellspacing="0">
            <tr style="width: 100%;">
              <td class="mr-auto">
                <img src="images/ACME.png" alt="Logo" class="inline-block align-middle w-24" >
              </td>
              <td  style="float: inline-end; margin-top: 10px;">
                <a href="#"><img src="images/f.png" class="inline-block align-middle no-underline" alt="Facebook" style="width:24px"></a>
                <a href="#" style=" margin-left: 16px;"><img src="images/t.png" alt="Twitter" class="inline-block align-middle no-underline" style="width:24px" ></a>
                <a href="#" style=" margin-left: 16px;"><img src="images/i.png" alt="Instagram" class="inline-block align-middle no-underline" style="width:24px"></a>
              </td>
            </tr>
          </table>
          <table class="mt-6 mb-6 rounded-lg" style="width: 100%;" cellpadding="0" cellspacing="0">
            <tr>
              <td class="text-center">
                <img src="images/1.png" class="inline-block align-middle rounded-tl-lg rounded-tr-lg" style="width: 100%;">
              </td>
            </tr>
            <tr>
              <td class="text-center" style="padding: 16px 24px;">
                <a href="#" class="text-base font-semibold text-purple-700 no-underline">Our new article</a>
                <h1 class="mb-2 text-2xl text-gray-800">Designing with Furniture</h1>
                <p class="mb-6 text-gray-600" >Unleash your inner designer as we explore how furniture plays a vital role in creating stunning interiors, offering insights into choosing the right pieces, arranging them harmoniously, and infusing your space with personality and style.</p>
                <a href="#" class="block mb-6 mt-6 rounded-md bg-purple-700 py-2 px-4 text-white no-underline">Read more</a>
              </td>
            </tr>
          </table>
          <table style="width: 100%;" cellpadding="0" cellspacing="0">
            <tr>
              <td class="border-dashed border-t border-gray-300"></td>
            </tr>
          </table>
          <table class="mt-6 mb-6" style="width: 100%;" cellpadding="0" cellspacing="0">
            <tr>
              <td class="px-6 py-4 text-center">
                <h2 class="mb-2 text-lg text-gray-700">Elevate Outdoor Living</h2>
                <p class="mb-4 text-gray-600">Take your outdoor space to new heights with our premium outdoor furniture, designed to elevate your alfresco experience.</p>
              </td>
            </tr>
          </table>
          <table class="mb-4" style="width: 100%;" cellpadding="0" cellspacing="0">
            <tr style="width: 100%;">
              <td class="pr-4 ml-0 w-1/2" style="width: 50%;  ">
                <img src="images/2.png" class="align-middle mb-2 rounded-lg" style="width: 100%;" alt="">
                <a href="#" class="block mb-1 text-base font-semibold text-purple-700 no-underline">What’s new</a>
                <h3 class="mb-1 text-xl text-gray-700">Multifunctional Marvels</h3>
                <p class="text-gray-600" style="font-size:14px;">Discover the innovative world of multifunctional furniture, where style meets practicality, offering creative solutions for maximizing space and enhancing functionality in your home.</p>
              </td>
              <td class="w-1/2 pl-4 ml-auto">
                <img src="images/3.png" class="align-middle mb-2 rounded-lg" style="width: 100%;" alt="">
                <a href="#" class="block mb-1 text-base font-semibold text-purple-700 no-underline">What’s new</a>
                <h3 class="mb-1 text-xl text-gray-700">Timeless Classics</h3>
                <p class=" text-gray-600"style="font-size:14px;">Step into the world of timeless classics as we explore iconic furniture pieces that have stood the test of time, adding enduring elegance and sophistication to any interior.</p>
              </td>
            </tr>
          </table>
          <table style="width: 100%;" cellpadding="0" cellspacing="0">
            <tr>
              <td class="border-dashed border-t border-gray-300"></td>
            </tr>
          </table>
          <table class="mt-6 mb-6" style="margin-top: 24px; margin-bottom: 24px; width: 100%;" cellpadding="0" cellspacing="0">
            <tr>
              <td class="mt-auto ml-0 w-1/2">
                  <img src="images/ACME.png"class="inline-block align-middle mb-2 w-24" alt="Logo" >
                  <p style="font-size: 14px; color: #1f2937;">Acme corporation</p>
                  <p style="font-size: 12px; color: #6b7280">Think different</p>
              </td>
              <td class="text-left float-right mt-8">
                  <div style="margin-bottom: 20px;  width:100%">
                    <a href="#"><img src="images/f.png" alt="Facebook" class="inline-block align-middle w-6 no-underline"></a>
                    <a href="#" class="mr-0 ml-4"><img src="images/t.png" alt="Twitter" class="inline-block align-middle w-6 no-underline"></a>
                    <a href="#"class="mr-0 ml-4"><img src="images/i.png" alt="Instagram" class="inline-block align-middle w-6 no-underline"></a>
                  </div>
                  <p style="font-size: 12px; color: #6b7280;">123 Main Street Anytown, CA 12345</p>
                  <p style="font-size: 12px; color: #6b7280;">mail@example.com +123456789</p>
              </td>
            </tr>
          </table>
        </td>
      </tr>
    </table>
  </div>
</x-main>
